@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;400;500;600;700&family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --cor-botao: #82bfa0;
    --cor-header: #7a6f5d;
    --cor-thead: #c6d1a6;
    --cor-fonte-contraste: #fff;
    --cor-fonte-black: #000;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-input: 'Montserrat', sans-serif;
    --fonte-placeholder: 'Roboto', sans-serif;
    --fonte-tabela: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-family: var(--fonte-titulo);
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--cor-botao);
    text-align: center;
    padding: 20px;
    color: var(--cor-fonte-contraste);
    width: 100vw;
}

#content-entrada {
    padding: 20px;
}

#titulo {
    color: var(--cor-fonte-black);
    padding: 8px;
}

#titulo h1 {
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
}

#titulo h2 {
    font-family: var(--fonte-tabela);
    font-size: 1rem;
    font-weight: 400;
}

#card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 10px;
    width: 95vw;
}

.entrada label {
    font-family: var(--fonte-tabela);
    font-weight: 700;
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
    
}

.entrada input {
    padding: 16px;
    width: 100%;
    height: 30px;
    margin-bottom: 16px;
}

.entrada input::placeholder{
    font-family: var(--fonte-placeholder);
    font-weight: 300;
    color: var(--cor-fonte-black);
}
#botoes {
    display: flex;
    gap: 10px;
}

#botoes button {
    font-family: var(--fonte-tabela);
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--cor-botao);
    border-radius: 10px;
    height: 30px;
    color: var(--cor-fonte-contraste);
}

#adicionar-produto {
    width: 200px;
}

#limpar-lista {
    width: 100px;
}

#lista-produtos {
    padding: 20px;
}

#lista-produtos table {
    display: grid;
    justify-content: center;


}

#lista-produtos thead {
    background: var(--cor-thead);
    font-family: var(--fonte-tabela);
    color: var(--cor-fonte-black);
    border: 0.1px solid #f0f0f0;

}

#lista-produtos tbody {
    background: #f0f0f0;
}

#lista-produtos td,
th {
    font-family: var(--fonte-placeholder);
    font-weight: 400;
    text-align: center;
    border: 0.5px solid #ccc;
    width: 200px;
    padding: 5px;
}

table td img {
    width: 22px;
}